.navbar {
  display: flex;
  justify-content: center;   /* centres the nav */
  gap: 100%;                 /* space between links */
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 20px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

/* Links */
.navbar a {
  text-decoration: none;
  color: #FFDFEE;
  position: relative;
  transition: opacity 0.2s ease;
  font-weight: bold;
}

/* Subtle hover (keep it calm, not flashy) */
.navbar a:hover {
  opacity: 0.6;
}

/* Optional: underline animation (very minimal) */
.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  /* width: 0%; */
  height: 1px;
  background-color: #2b2b2b;
  transition: width 0.3s ease;
}

.navbar a:hover::after {
  width: 100%;
}