.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

.content {
  width: 100%;
  max-width: 800px;
  padding: 40px 20px;
}

